<div style="height: inherit;" layout="column" ng-cloak>
  <div layout="row" layout-align="center center" flex>
    <form name="loginForm" novalidate>
      <md-input-container flex>
        <label class="ng-cloak">Nom</label>
        <input type="text" id="user" ng-model="credentials.email"/>
      </md-input-container>

      <md-input-container flex>
        <label class="ng-cloak">Mot de passe</label>
        <input type="password" id="password" ng-model="credentials.password"/>
      </md-input-container>

      <md-button class="md-fab md-button" aria-label="Connect" ng-click="login(credentials)">
          <md-icon class="material-icons">vpn_key</md-icon>
      </md-button>
    </form>
  </div>
</div>
