<div layout="row" layout-padding>

  <div flex="20"></div>

  <div flex="60">
    <md-content layout-padding >
      <div>
        <form name="projectForm">
          <h3>Description</h3>
          <md-input-container>
            <label> Project Title </label>
            <input ng-model="projects.data.title"/>
          </md-input-container>

          <md-input-container class=md-block>
            <label>Description</label>
            <textarea ng-model="projects.data.description"></textarea>
          </md-input-container>

          <!-- Assets title and + FAB -->
          <div layout="row" layout-align="space-between start">
            <h3>Assets</h3>
            <md-button class="md-fab" aria-label="Add an asset">
              <md-icon class="material-icon">add</md-icon>
            </md-button>
          </div>

          <!-- Display list of existing assets -->
          <md-list>
            <!-- TODO: ng-click should open asset full screen -->
            <md-list-item class="secondary-button-padding" ng-repeat="asset in projects.data.assets" ng-click="">
              <p>{{ asset }}</p>
              <md-button class="md-icon-button md-secondary" ng-click="projects.removeAsset()" aria-label="More">
                <md-icon class="material-icons">delete</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
          <!-- Save button -->
          <div layout="row" layout-align="end start" type="submit" ng-click="projects.save(projects.data)">
            <md-button class="md-raised md-primary">Save</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>

  <div flex hide-sm hide-xs></div>
</div>
