<div layout="row" layout-wrap>

    <div flex="20">

    </div>

    <div flex="60">
      <!-- Top title and Field Action Button to create new project-->
      <div layout="row" layout-align="space-between center">
        <h3>Projects</h3>
        <md-button class="md-fab" ng-click="showCreateProjectDialog()" aria-label="Create new project">
          <md-icon class="material-icons">add</md-icon>
        </md-button>
      </div>

      <!-- Display list of projects -->
      <md-content>
        <md-list id="projectList">
          <md-list-item class="secondary-button-padding" ng-repeat="project in projects.projectList" ui-sref="edit({id: project.id})" ng-click="">
            <img ng-src="/assets/img/01/Pilot_thumbnail.png" class="md-avatar" />
            <p>{{ project.title }}</p>
            <md-button class="md-icon-button md-secondary" ng-click="showDeleteProjectDialog(project)" aria-label="More">
              <md-icon class="material-icons">delete</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>

    </div>
    <div flex hide-sm hide-xs></div>

</div>
