nav.teal
  .nav-wrapper
    .container
      ul.left.hide-on-med-and-down
        li
          a(href="#!") Projets
        li
          a(href="#!") Statistiques
        li
          a(href="#!") Messages
