extends layout-admin

include ./mixins.jade

block content
  .container
    h2 Projets
    div(style="position: relative;")
      .fixed-action-btn.horizontal(style="position: absolute; display: inline-block;")
        a.btn-floating.btn-large.teal(href="/admin/projects/new")
          i.material-icons add
    .row
      .col.l3
        +projectcard("Projet 1","../test/sample-1.jpg","/admin/project/1")
      .col.l3
        +projectcard("Projet 2","../test/sample-1.jpg","/admin/project/2")
      .col.l3
        +projectcard("Projet 3","../test/sample-1.jpg","/admin/project/2")
      .col.l3
        +projectcard("Projet 4","../test/sample-1.jpg","/admin/project/2")
    .row
      .col.l3
        +projectcard("Projet 5","../test/sample-1.jpg","/admin/project/1")
      .col.l3
        +projectcard("Projet 6","../test/sample-1.jpg","/admin/project/2")
      .col.l3
        +projectcard("Projet 7","../test/sample-1.jpg","/admin/project/2")
      .col.l3
        +projectcard("Projet 8","../test/sample-1.jpg","/admin/project/2")
